Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.3
Werkzeug==2.3.7
spotipy==2.23.0
yt-dlp==2023.12.30
numpy==1.24.3
soundfile==0.12.1
python-dotenv==1.0.0
pydub==0.25.1

# Static asset management
Flask-Assets==2.1.0
cssmin==0.2.0
jsmin==3.0.1
